---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Taevon's Projects"
  seoTitle="Projects with React, NextJS, Astro"
>
  <div class="w-8/12 lg:w-6/12 mx-auto">
    <h1 class="text-5xl my-2">Projects</h1>
    <div class="grid md:grid-cols-2 gap-2">
      <a href="/projects/project1"
        ><img
          class="rounded"
          src="/images/project1.png"
          width="300px"
          height="300px"
        /></a
      >
      <a href="/projects/project2"
        ><img
          class="rounded"
          src="/images/project2.png"
          width="300px"
          height="300px"
        /></a
      >
      <a href="/projects/project3"
        ><img
          class="rounded"
          src="/images/project3.png"
          width="300px"
          height="300px"
        /></a
      >
      <a href="/projects/project4"
        ><img
          class="rounded"
          src="/images/project4.png"
          width="300px"
          height="300px"
        /></a
      >
    </div>
  </div>
</MainLayout>
